input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  background: transparent;
}

:root {
  --main-color: #6c70ff;
}

.timescape-root {
  display: flex;
  align-items: center;
  gap: 2px;
  width: fit-content;
  border: 1px solid #bbb;
  outline: 1px solid transparent;
  padding: 5px;
  user-select: none;
  border-radius: 10px;
  transition: 100ms;
  background-color: #fff;
}

.timescape-root:focus-within {
  outline-color: var(--main-color);
  border-color: var(--main-color);
}

.timescape-input {
  font-variant-numeric: tabular-nums;
  height: fit-content;
  font-size: 18px;
  color: #333;
  border: none;
  outline: none;
  cursor: default;
  user-select: none;
  caret-color: transparent;
  max-width: 50px;
}

.timescape-input::selection {
  background: none;
}

.timescape-input:focus {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 6px;
  padding-inline: 2px;
}

.separator {
  font-size: 80%;
  color: #8c8c8c;
  margin: 0;
}
